body,
* {
  font-family: "Montserrat", sans-serif !important;
}
.appHeader {
  font-size: 35px;
  font-family: "Amatic SC", cursive !important;
  padding: 5px;
  padding-left: 15px;
}
.appHeader img {
  height: 40px;
  top: 5px;
  position: relative;
}
.menuHeader {
  font-size: 30px;
  font-family: "Amatic SC", cursive !important;
}
.menuHeader img {
  height: 35px;
  top: 3px;
  position: relative;
}
